<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
<main class="container">
    <ul>
        <li>
            name:<span th:text="${name}"></span>
        </li>
        <li>
            age:<span th:text="${age}"></span>
        </li>
        <li>
            phone:<span th:text="${phone}"></span>
        </li>
        <li>
            email:<span th:text="${email}"></span>
        </li>
    </ul>
</main>
</body>
</html>